.postinfo__container {
    display: flex;
    position: relative;
    margin-top: 30px;
}

.avatar__emails {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    border-top: 1px solid grey;
    padding-top: 5px;
}

.content {
    margin-top: 15px;

}

button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}

h4 {
    white-space: normal;
}

.data_created{
    font-size: 12px;
}

.name__data {
    display: flex;
    flex-direction: column;
}

.comments__text {
    margin-bottom: 40px;
}

.comments__container {
    margin-bottom: 10px;
}

.button__ant {
    position: absolute;
    left: 10px;
    top: -35px;
}


