.header {
    width: 100vw;
    border-bottom: 1px solid rgb(216, 221, 226);
    margin-bottom: 35px;
    background: linear-gradient(to right, #F8F32B, #BFFF00);
    box-shadow: 0px 1px 5px rgb(190, 212, 190);
}

.header__container {
    width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;
}

.list {
    display: flex;
    gap: 10px;
    list-style: none;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.current__user {
    margin-right: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

img {
    width: auto;
    height: 70px;
}